@charset "utf-8";
@import "./reset";
@import './define';
@import "pop";

// %icon {
//     background: url(../images/icon.png) no-repeat;
// }

%fcolor {
    color: #fff4d5;
}

.header {
    height: 821px;
    background: url(../images/headerBg.jpg) no-repeat center top;
    @extend %oh;
}

.header-inner {
    margin-top: 725px;
    @extend %tac;
    @extend %f14;
    color: #fff;
}

.userInfor {
    margin-top: 12px;

    span {
        margin: 0 5px;

        &:hover {
            @extend %cp;
            @extend %tdu;
        }
    }
}

.actDesrc {
    @extend %f14;
    @extend %fcolor;
    @extend %tac;
    margin: 65px 0 12px;
    line-height: 1.8;

    span {
        color: #fff;
    }
}

/* 礼包 */
.act-libao {
    height: 615px;
    background: url(../images/bg1.jpg) no-repeat center top;
    @extend %oh;
}

.gameItem {
    width: 1000px;
    @extend %ma;
    @extend %oh;
    @extend %clearfix;

    li {
        @extend %fl;
        @extend %tac;
        width: 230px;
        height: 198px;
        margin: 10px;
        background: url(../images/bg_libao.png) no-repeat;

        &:hover {

            p {
                font-size: 0;
                background: url(../images/btn_djlq.png) no-repeat;
                @extend %cp;
            }
        }

        &:nth-child(1) {
            i {
                background-position: 0 0;
            }
        }

        &:nth-child(2) {
            i {
                background-position: -150px 0;
            }
        }

        &:nth-child(3) {
            i {
                background-position: -300px 0;
            }
        }

        &:nth-child(4) {
            i {
                background-position: -450px 0;
            }
        }

        &:nth-child(5) {
            i {
                background-position: 0 -80px;
            }
        }

        &:nth-child(6) {
            i {
                background-position: -150px -80px;
            }
        }

        &:nth-child(7) {
            i {
                background-position: -300px -80px;
            }
        }

        &:nth-child(8) {
            i {
                background-position: -450px -80px;
            }
        }
    }

    i {
        @extend %dib;
        width: 150px;
        height: 80px;
        margin-top: 35px;
        background: url(../images/games.png) no-repeat;
    }

    p {
        @extend %dib;
        @extend %f18;
        @extend %fwb;
        @extend %fcolor;
        width: 156px;
        $height: 54px;
        line-height: 54px;
    }
}

/* 签到 */
.act-qiandao {
    height: 707px;
    background: url(../images/bg2.jpg) no-repeat center top;
    @extend %oh;
}

.signItem {
    width: 1030px;
    @extend %ma;
    @extend %oh;
    @extend %clearfix;

    li {
        @extend %fl;
        @extend %tac;
        @extend %f14;
        $padding: 9px;
        padding: $padding;
        margin: 0 15px;
        width: 174px - $padding*2;
        height: 245px - $padding*2;
        background-color: #a41f1e;
        border: 1px solid #ce9665;
        border-radius: 20px;

        &.signThree {
            float: none;
            margin: 275px auto 0;

            .bxItem {
                i {
                    height: 100%;
                    background: url(../images/bx_three.png) no-repeat center;
                }
            }
        }
    }

    p {
        @extend %dib;
        @extend %cfff;
        width: 152px;
        line-height: 31px;
        border-radius: 31px;
        margin-bottom: 5px;
        background-color: #d2b660;
    }
}

.sign-btn {
    @extend %dib;
    @extend %cp;
    width: 156px;
    height: 54px;
    background: url(../images/btn_jqqd.jpg) no-repeat;
    border-radius: 5px;
}

.ing {
    p {
        background-color: #f0d47d;
    }

    span {
        background: url(../images/btn_djlq.png) no-repeat;
    }
}

.end {
    p {
        background-color: #b3b3b3;
    }

    .bxItem {
        border-color: #ebebeb;
        background: url(../images/bgQd_d.jpg) no-repeat;
    }

    span {
        background: url(../images/btn_yjs.jpg) no-repeat;
    }
}

.bxItem {
    @extend %dib;
    @extend %tac;
    width: 154px;
    height: 124px;
    color: #786850;
    margin-bottom: 7px;
    background: url(../images/bgQd.jpg) no-repeat;

    i {
        @extend %db;
        height: 95px;
        background: url(../images/bx_wz.png) no-repeat center;
    }
}

/* 积分 */
.act-jifen {
    height: 469px;
    background: url(../images/bg3.jpg) no-repeat center top;
    @extend %oh;
}

.giftItem {
    width: 1020px;
    @extend %ma;
    @extend %oh;

    li {
        @extend %fl;
        width: 182px;
        height: 302px;
        margin: 0 10px;
        border: 1px solid #f0d47d;
    }

    span {
        @extend %db;
        @extend %cp;
        width: 156px;
        height: 54px;
        margin: 18px auto 0;
        background: url(../images/btn_djlq.png) no-repeat center;
        background-color: #a41f1e;
    }
}

.gift-info {
    @extend %f14;
    height: 214px;
    background-color: #fff;

    i {
        @extend %db;
        height: 145px;
        background: url(../images/gift_bz.png) no-repeat center;
    }
}

.gift-name {
    @extend %tac;
    color: #cc0000;
}

.gift-num {
    margin: 5px 0 0 20px;
}

/* 规则 */
.act-rule {
    height: 264px;
    background: url(../images/bg4.jpg) no-repeat center top;
    @extend %oh;
}

.rule-item {
    width: 1000px;
    margin: 88px auto 0;
    @extend %f14;
    line-height: 1.7;
    @extend %fcolor;

    li {
        margin-left: 37px;
    }

    span {
        @extend %dib;
        @extend %tac;
        $width: 21px;
        width: $width;
        height: $width;
        line-height: $width;
        background: url(../images/rule_ol.png) no-repeat;
    }
}