@import "define";

%popIcon {
	background: url(../images/pop.png) no-repeat;
}

.pop-mask {
	@extend %pf;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .6);
	filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#cc000000', EndColorStr='#cc000000');
	z-index: 100;
}

:root .pop-mask {
	filter: '';
}


.pop-wrap {
	$width: 450px;
	$height: 300px;
	width: $width;
	height: $height;
	@extend %pa;
	top: 50%;
	left: 50%;
	margin: (-$height/2) 0 0 (-$width/2);
	@extend %cfff;
	background-color: #db2e3e;
}



.pop-close {
	$width: 60px;
	width: $width;
	height: $width;
	@extend %pa;
	top: 0;
	right: -$width;
	background: url(../images/pop_close.png) no-repeat center;
	background-color: #c22937;
	@extend %cp;
}

.pop-tipsfont {
	$height: 300px;
	height: $height;
	line-height: $height;
	@extend %f18;
	@extend %tac;

	b {
		color: #f5d158;
	}
}


.pop-kama {
	@extend %f18;
	height: 215px;
	margin: 50px 5px 5px;
	padding: 30px 0 0 30px;
	background-color: #cbab6f;

	p {
		margin-top: 30px;
		font-size: 0;
	}

	.pop-tips {
		padding: 30px 0 0;
	}
}

.copy-txt {
	width: 240px;
	$height: 40px;
	height: $height;
	line-height: $height;
	padding: 0 10px;
	border: none;
	color: #505050;
	@extend %vam;
	@extend %f14;
	margin-right: 10px;
	background: #fff;
}

.copy-btn {
	@extend %dib;
	@extend %vam;
	width: 74px;
	@extend %cp;
	@extend %tac;
	$height: 41px;
	height: $height;
	line-height: $height;
	@extend %f14;
	color: #630;
	@extend %popIcon;
	background-position: -90px -310px;

	&:hover {
		opacity: .9;
	}
}


.pop-tips {
	padding: 10px 0 0 48px;
	@extend %f14;
}


.kama-item {
	padding: 40px 0 0 48px;
	max-height: 200px;
	overflow-y: auto;

	i {
		color: #f5d158;
		@extend %f12;
		margin: 0 3px;
	}

	li {
		margin-bottom: 10px;
		@extend %f14;
	}

	p {
		padding-top: 6px;
		font-size: 0;
	}
}