@charset "utf-8";
@import './reset';
@import './define';

.inner {
    width: 930px;
    margin: 0 auto;
}

// top 账号信息和奖品信息
.top {
    height: 581px;
    text-align: center;
    background: url(../images/fc_act_bg1.jpg) no-repeat center;
    overflow: hidden;
}

// 活动时间
.act-time {
    display: inline-block;
    width: 459px;
    font-size: 15px;
    line-height: 34px;
    text-align: center;
    color: #ffde00;
    background: url(../images/act-time.png) no-repeat;
    margin-top: 368px;
    margin-left: -250px;
}

// 奖励信息
.btn-reward {
    display: inline-block;
    width: 203px;
    height: 60px;
    background: url(../images/btn_reward.jpg) no-repeat;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
}

// 活动游戏
.game-wrap {
    height: 387px;
    background: url(../images/fc_act_bg2.jpg) no-repeat center;
    overflow: hidden;
}

.game-inner {
    width: 863px;
    height: 385px;
    margin: 0 auto;
    background: url(../images/game_bg.png) no-repeat;
    position: relative;
}

.game-item {
    li {
        width: 201px;
        height: 115px;
        position: absolute;

        &.cur {
            filter: brightness(1.7);
        }

        i {
            display: block;
            height: 90px;
        }

        p {
            font-size: 14px;
            color: #e8ceff;
            text-align: center;
        }

        &:nth-child(1) {
            top: 0;
            left: 0;

            i {
                background: url(../images/draw_dou.png) no-repeat center;
            }
        }

        &:nth-child(2) {
            top: 0;
            left: 220px;

            i {
                background: url(../images/draw_five.png) no-repeat center;
            }
        }

        &:nth-child(3) {
            top: 0;
            left: 440px;

            i {
                background: url(../images/draw_luo.png) no-repeat center;
            }
        }

        &:nth-child(4) {
            top: 0;
            left: 660px;

            i {
                background: url(../images/draw_box.png) no-repeat center;
            }
        }

        &:nth-child(5) {
            top: 135px;
            left: 660px;

            i {
                background: url(../images/draw_all.png) no-repeat center;
            }
        }

        &:nth-child(6) {
            top: 270px;
            left: 660px;

            i {
                background: url(../images/draw_no.png) no-repeat center;
            }
        }

        &:nth-child(7) {
            top: 270px;
            left: 440px;

            i {
                background: url(../images/draw_lu.png) no-repeat center;
            }
        }

        &:nth-child(8) {
            top: 270px;
            left: 220px;

            i {
                background: url(../images/draw_jd.png) no-repeat center;
            }
        }

        &:nth-child(9) {
            top: 270px;
            left: 0;

            i {
                background: url(../images/draw_da.png) no-repeat center;
            }
        }

        &:nth-child(10) {
            top: 135px;
            left: 0;

            i {
                background: url(../images/draw_gift.png) no-repeat center;
            }
        }
    }
}

.btn-wrap {
    width: 420px;
    height: 120px;
    position: absolute;
    top: 145px;
    left: 50%;
    margin-left: -210px;
}

.win-news {
    font-size: 14px;
    color: #fff;
    text-align: center;

    span {
        color: #ffc000;
    }
}

%btn13 {
    display: inline-block;
    width: 127px;
    height: 43px;
    line-height: 2.3;
    font-size: 18px;
    font-weight: bold;
    color: #5e2d20;
    text-align: center;
    margin: 20px 40px 6px;
    cursor: pointer;
}

// 一次
.btn-one {
    @extend %btn13;
    background: url(../images/btn_1c.png) no-repeat;
}

// 三次
.btn-three {
    @extend %btn13;
    background: url(../images/btn_3c.png) no-repeat;
}

.draw-tips {
    font-size: 14px;
    font-weight: normal;
    color: #fff;

    span {
        display: inline-block;
        width: 50%;
        text-align: center;
    }
}

// 集卡
.card-wrap {
    height: 225px;
    background: url(../images/fc_act_bg3.jpg) no-repeat center;
    overflow: hidden;
}

.card-inner {
    @extend %clearfix;
    width: 865px;
    margin: 0 auto;
}

.card-list {
    float: left;
    margin-top: 50px;

    li {
        display: inline-block;
        width: 108px;
        height: 155px;
        background: url(../images/card_no.png) no-repeat;

        &:nth-child(5) {
            background: url(../images/card_allno.png) no-repeat;
        }

        &+li {
            margin-left: 20px;
        }
    }

    .cur {
        &:nth-child(1) {
            background: url(../images/card_dou.png) no-repeat;
        }

        &:nth-child(2) {
            background: url(../images/card_luo.png) no-repeat;
        }

        &:nth-child(3) {
            background: url(../images/card_da.png) no-repeat;
        }

        &:nth-child(4) {
            background: url(../images/card_lu.png) no-repeat;
        }

        &:nth-child(5) {
            background: url(../images/card_all.png) no-repeat;
        }
    }
}

// 合成按钮
.btn-card {
    float: right;
    margin-top: 35px;
    display: block;
    width: 205px;
    height: 181px;
    background: url(../images/card_btn.png) no-repeat;
}

// 抽奖次数说明
.rules-wrap {
    height: 440px;
    background: url(../images/fc_act_bg4.jpg) no-repeat center;
    overflow: hidden;
}

.rules-inner {
    width: 680px;
    margin: 0 auto;

    h3 {
        font-size: 14px;
        font-weight: normal;
        color: #e8ceff;
    }

    p {
        font-size: 14px;
        line-height: 1.7;
        color: #e8ceff;
        text-indent: 30px;
    }

    span {
        color: #ffc000;
    }
}

.rules-subtitle {
    font-size: 24px;
    color: #ab90ba;
    margin-top: 35px;
    margin-bottom: 10px;
    text-align: center;
}

// pop 弹窗
.pop-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9;
}

.pop-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pop-close {
    position: absolute;
    top: 0;
    right: -58px;
    width: 55px;
    height: 55px;
    background-color: #cba25e;
}

.pop-inner {
    // width: 400px;
    // height: 200px;
    background: #f8e3b2;
}

.pop-reward {
    width: 400px;
    height: 280px;
    overflow: hidden;

    h2 {
        font-size: 30px;
        text-align: center;
        margin-top: 20px;
    }
}

.reward-ls {
    margin: 0 35px;
    p {
        font-size: 14px;
        line-height: 30px;
    }
}

.pop-error {
    width: 400px;
    height: 280px;
    text-align: center;
    overflow: hidden;

    h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    p {
        font-size: 14px;
        margin-top: 60px;
    }
}