* {
    margin: 0;
    padding: 0;
}

.demo-wrap {
    font-size: 14px;
    color: #fff;
    background-color: #999;
}

.title {
    font-size: 24px;
    line-height: 2;
    text-align: center;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

.go {
    width: 120px;
    height: 42px;
    background-color: #f0dd36;
}

.qrcode {
    width: 100px;
    height: 100px;
    background-color: #a7a7a7;
    position: fixed;
    top: 50%;
    left: 10px;
}

.hiddenQRcode {
    animation: hiddenQrcode 1.3s ease forwards;
}

@keyframes hiddenQrcode {
    0% {
        top: 50%;
        left: 10px;
    }

    50% {
        top: 48px + 42px;
        left: 360px;
        opacity: 1;
    }

    100% {
        top: 0;
        left: 360px;
        opacity: 0;
    }
}