* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    color: #333;
}

.top-title {
    $height: 80px;
    line-height: $height;
    text-align: center;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

.cntr {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.box {
    $width: 100px;
    width: $width;
    height: $width;
    background-color: #8d6464;
}

.loop {
    p {
        display: inline-block;
    }
}